{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block css %}
  {{ block.super }}
  {% if not WEBPACK_DEV_SERVER_URL %}
  <link href="{% static 'css/App1.css' %}" rel="stylesheet" />
  {% endif %}
{% endblock css %}

{% block header %}
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="text-center"><img src="{% static 'img/logo.png' %}" alt="" /></div>
      <div class="text-center">
        <a href="{% url 'app1:home' %}" class="btn btn-primary">{% trans "Home" %}</a>
      </div>
    </div>
  </div>
</div>
{% endblock header %}

{% block footer %}
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="text-center">
        <a href="{% url 'app1:page-1' %}" class="btn btn-primary">{% trans "Page 1" %}</a>
        &nbsp;
        <a href="{% url 'app1:page-2' %}" class="btn btn-primary">{% trans "Page 2" %}</a>
      </div>
    </div>
  </div>
</div>
{% endblock footer %}

{% block js %}
  {{ block.super }}
  <script src="{{ WEBPACK_DEV_SERVER_URL|default:'' }}{% static 'js/App1.js' %}"></script>
{% endblock js %}
