{% extends "app1/base.html" %}

{% block data_controller %}page1{% endblock data_controller %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="well">
          <h1>Page 1 [App1]</h1>
          <div id="id_selector"></div>
          <br />
          <div>
            <span class="glyphicon glyphicon-hourglass"></span>
            <span class="glyphicon glyphicon-pawn"></span>
            <span class="glyphicon glyphicon-king"></span>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
